*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto","Arial",sans-serif;
    color: white;
}
.default_color{
    background-color: black;
}
#header.default_color{
    width: 100%;
    height: 60px;
    padding: 8px ;
    display: flex; 
    justify-content: space-evenly;
    align-content: center;
    position: fixed;
    top: 0;
    z-index: 6;
    /*background-color: white;*/  
}
#side_bar_main_icon{
    height: 38px;
    width: 38px;
    padding: 10px 09px 12px 09px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
    /*background-color: red;*/
}
#side_bar_main_icon:hover{
    background-color: #4d4d4d;
}
#logo{
    height: 100%;
    width: 110px;
    padding: 10px 06px 08px 2px;
    margin-left: 05;
    display: flex; 
    align-self: center;
    cursor: pointer;
    /*background-color: yellow;*/

}
#logo_main{
    width: 100%;
    height: 100%;
    background: url(images/youtube_logo.png);
    background-size:contain ;
    background-repeat: no-repeat;  
    /*background-color: red;*/
}
#search_box{
    width: 820px;
    height: 100%;
    display: flex;
    justify-content: end;
    /*background: yellow;*/
}
#search_content{
    width: 580px;
    height: 2.5rem;
    border: 1px solid rgb(48, 48, 48);
    border-radius:50px;
    display: flex;
    justify-content: space-between; /* Align items at both ends horizontally */
    align-items: flex-start; /* Align items at the start vertically */
    /*background-color: red;*/
}
#search_content input{
    width: 540px;
    height: 100%;
    background-color: #121212;
    color: white;
    border-radius: 40px 0px 0px 40px;
    padding: 0 02px 0 15px;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    border: none;
    
}
#search_content input:hover{
    border: 1px solid #065fd4;
}
#search_content input:focus {
    border: 1px solid #065fd4; /* Change the border color to red on focus */
}
#search_content button{
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    height: 100%;
    width: 60px;
    background-color: #282828;
    border: none;
    outline: none; 
}
#search_content img{
    height:auto;
    width:18px;
    background-size: contain;
}

#mic_logo{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #282828;
    margin-left: 15px;
    align-self: center;

}
#mic_logo img{ 
    width: 15px;
    height: auto;
    margin: 12px;
    margin-left: 14px;

}
#header_right{
    width: 320px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-self: center;
    /*background-color: goldenrod;*/
}
#header_right_content{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    /*background-color: green;*/
}
#create_icon{
    width: 24px;
    height: 24px;
    background: url(images/create_logo.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;

}
#bell_icon{
    color: white;
    font-size: 20px;
    padding: 16px;
    align-self: center;
}
#sign_box{
    height: 40px;
    width: 100px;
    border-radius: 40px;
    display: flex;
    align-self: center;
    padding: 08px;
    padding-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.349);
}

#biggest_box{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
}
.side_bar{
    width: 18%; /* 5.5%      21*/
    height: 100%;
    overflow-y: auto;
    /*background-color: yellow;*/
    position: fixed;
}




::-webkit-scrollbar {
    width: 08px; /* Width of the scrollbar track */
}

/* Initially hide the scrollbar */
.side_bar::-webkit-scrollbar {
    width: 0;
}

/* Apply scrollbar styles when hovering over #side_bar */
.side_bar:hover::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar track */
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #a39a9a; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
}

/* Target the scrollbar track when it's hovered over */
::-webkit-scrollbar-track:hover {
    background-color: black;
}

/* Target the scrollbar thumb when it's hovered over */
::-webkit-scrollbar-thumb:hover {
    background-color: #998c8c;
}

/* Target the scrollbar corner (the intersection of horizontal and vertical scrollbars) */
::-webkit-scrollbar-corner {
    background-color: transparent; /* Color of the scrollbar corner */
}

/* Target the scrollbar track when it's in the "dragging" state */
::-webkit-scrollbar-track:active {
    background-color: black;
}




.side_bar_content_box{
    width: 100%;
    height: auto;
    padding: 12px;    /* 04px     10*/
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);   /*none*/   
    background-color: black;
}

.side_bar_content{
    width: 100%;
    height: 40px;    /* 60px     40*/
    border-radius: 12px;
    margin-top: 2px;
    padding: 15px;   /*5px        15*/
    display: flex;
    flex-direction: row;  /*column       row*/
    justify-content: flex-start; /*centre    flex-start*/
    align-items: center;
    background-color: black;

}
.side_bar_content:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.side_bar_icon_head{
    font-size: 15px; /*10px    15px*/
    margin-top: 0px; /* 05px    0*/
    margin-left: 20px; /* 0     20px */
    font-weight: 500;  /* check */
}

/*wrap side bar*/
.side_bar_wp{
    width: 6.5%;  /*5.5%      21*/
    margin-top: 10px;
}

.side_bar_content_box_wp{
    padding: 05px;    /* 04px     10*/
    border: 0;
    
}

.side_bar_content_wp{
    height: 60px;    /* 60px     40*/
    padding: 5px;   /*5px        15*/
    flex-direction: column;  /*column       row*/
    justify-content: center; /*centre    flex-start*/
}
.side_bar_icon_head_wp{
    font-size: 10px; /*10px    15px*/
    margin-top: 05px; /* 05px    0*/
    margin-left: 0px; /* 0     20px */
    font-weight: 500;  /* check */
  
}
.side_bar_content_box_wp_hide{
    display: none;
}



.body_box{
    width: 100%;
    height: 100%;
    padding-left: 14px;
    margin-left: 240px;
    background-color: black;
}
.body_box_exp{
    margin-left: 80px;
}
#body_main_head{
    background-color:black;
    height: 50px;
    width: 100%;
    padding: 05px;
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    z-index: 2;

}
.body_main_head_topic{
    width: auto;
    height: 32px;
    background-color:#FFFFFF1A;
    border-radius: 07px;
    align-self: center;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    margin: 0 07px;
    color: #F1F1F1;
}
.body_main_head_topic:hover{
    background-color: #4d4d4d;
}
#body_main_content {
    width: 99%;
    height: fit-content;
    background-color: black;
    margin-top: 110px;
    padding: 5px; 
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 40%;
    width: 350px;
    max-width: 400px;
    padding: 3px;
    display: inline-block;
    margin: 4px; /* Removed leading zero */
    margin-top: 18px;
    border-radius: 10px;
    flex: 1 1 auto; /* Controls both horizontal and vertical growth */
    background-color: black; /*#0f0f0f*/
    /*border: 2px solid gray;*/
}

.video_card {
    width:100%;
    height:100%;
    border-radius: 10px;
    background-color: gray;
}

.video_head {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px; /* Removed leading zero */
    padding-left: 0;
    display: flex;
    justify-content: baseline;
    /*background-color: greenyellow;*/
}

.channel_icon{
    width: 42px;
    height: 42px;
    display: inline-block;
    margin-right: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: red;*/
}
.channel_icon img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 2px;
    background-size: contain;
    background-repeat: no-repeat;

}




.video_heading_content{
    width: 100%;
    height: 100%;
    /*background-color: blue;*/
    color: white;
    display: inline-block;
    padding: 0 10px 05px 07px;
}
.video_heading_content p{
    font-size: 15px;
    color: rgb(170, 170, 170); 
    line-height: 1.2rem;
    font-weight: 500;
}
.card a{
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}